body{
    
}

h1,h2,h3,h4,h5,h6{
    /* font-family: 'Montserrat', sans-serif;*/
    font-weight: 900; 
}

p{
    /* font-family: 'Cormorant Garamond', serif; */
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

.btn-dark{
    background-color: #395B64 !important;
    border: #395B64 !important;
}

.header{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/home/hero-option-1.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Cormorant Garamond', serif;
    margin-bottom: 3rem;
    position: relative;
}

.fancy-header{
    height: 100vh;
}

.basic-header{
    /* height: 280px; */
}

.header-content{
    text-align: center;
    color: #fff;
}

.fancy-header .header-content{
    margin-top: 35vh;
}

.basic-header .header-content{
    margin: 10px 0 40px 0;
}

@media (max-width: 600px){

    .header-heading{
        font-size: 3.8rem;
    }

    .search-bar{
        width: 80% !important;
    }

    .card-col{
        padding: 1.5rem 0 !important;
    }

    .light-section{
        padding: 0 3rem !important;
        background-color: #fff;
    }

    .coloured-section{
        padding: 1rem 1rem !important;
        background-color: #395B64;
    }

    .testimonial-text{
        padding: 0 0;
    }
}

@media (max-width: 991px){
    .address-header {
        text-align: center !important; 
    }

    .price-header {
        text-align: center !important;
    }
}



.header-heading{
    font-family: 'Parisienne', cursive;
    font-size: 5rem;
}

.search-bar{
    width: 45%;
    margin: 0 auto;
}

.search-heading{
    cursor: pointer;
}

#buyerSearch{
    display: none;
}

#renterSearch{
    display: none;
}


.navbar-brand img{
    height: 100px;
    width: auto;
    color: #fff;
}

.title-button{
    margin: 1rem;
}

.down-arrow{
    text-align: center;
    color: #fff;
    position: absolute;
    bottom: 0;
    font-size: 2rem;
    animation: MoveUpDown 1s ease-in-out infinite;
    position: absolute;
    left: 0;
    bottom: 0;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 3px;
  }
}

.light-section{
    padding: 0 5rem 3rem;
    background-color: #fff;
}

.coloured-section{
    padding: 3rem 5rem;
    background-color: #395B64;
    color: #fff;
}

.section-heading{
    padding: 1rem 0;
}

.light-heading-em{
    font-weight: 200;
}

.card-col{
    padding: 2rem 1rem;
}

.property-card{
    height: 100%;
    position: relative;
}

.price-badge{
    position: absolute;
    top: 10px;
    right: 10px;
    margin-left: 1rem;
    background-color: #A5C9CA !important;
    color: #000 !important;
    border: 1px solid  #395B64 !important;
    font-size: 1.2rem;
}

.property-card-text{
    position: relative;
    padding-bottom: 35px;
}

.card-enquiry{
    vertical-align: bottom;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    margin-top: 15px;
}

.property-card-heading{
    font-size: 1rem;
}

.property-icon{
    margin-left: 1rem !important;
}

.property-preview-details{
    font-size: 1rem;
    position: relative;
    left: .5rem;
}

.carousel-item{
    text-align: center;
}

.testimonial-image{
    width: 75px;
    height: auto;
    border-radius: 50%;
}

.testimonial-text{
    padding: 2rem 3rem;
}

.footer{
    text-align: center;
    color: #444;
    font-size: 25px;
    padding: 2rem 0;
}

.social-icon-link{
    color: #444;
    display: hidden;
    padding: none;
}
.social-icon-link:hover{
    color: #A5C9CA;
}


.social-icon{
    padding: 0 10px;
}

.copyright-text{
    font-size: 12px;
}


/* about us page */

.about-us{
    text-align: center;
    padding: 2rem 7rem;
}

.about-contact-us{
    text-align: center;
}

/* property details page */

.heading{
    text-align: center;
    margin-bottom: 2rem;
}

.address-header {
    text-align: left;
}

.price-header {
    text-align: right;
}

.property-heading {
    margin: 2rem 7rem;
}

.details-details {
    margin: 0 7rem;
}

.details-col {
    text-align: center;
}

.enquire-btn {
    margin: 2rem 0;
}

.map-col {
    text-align: center;
}

.enquiry-success-alert {
    display: none;
}

.enquiry-form{
    text-align: left;
    padding: 2rem 10rem;
}